body {
    font-family: 'Roboto Mono', monospace;
    display: grid;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    vertical-align: middle;
}

.box {
    display: grid;
    grid-template-rows: 450px 100px;
    margin: 20px;
}

.box img {
    max-width: 280px;
    align-self: end;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p.title {
    font-size: 20px;
    font-weight: bold;
}

p.author {
    font-size: 18px;
    font-weight: normal;
}